header {
  background-color: #476db5;
  width: 100%;
  min-height: 64px;
  padding: 8px 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 0.781034px 1.56207px rgba(0, 0, 0, 0.14),
    0px 1.17155px 1.56207px rgba(0, 0, 0, 0.12),
    0px 0.390517px 1.95259px rgba(0, 0, 0, 0.2);

  color: #f8f9fa;
}

header > strong {
  font-size: 20px;
  letter-spacing: 0.7px;
}

header > div a {
  margin-left: 16px;
  padding: 8px 16px;

  text-decoration: none;
  color: #d5dce5;

  border: 1px solid #d5dce5;
  border-radius: 8px;
}

header > div a:hover {
  box-shadow: 0px 3.12414px 3.90517px rgba(0, 0, 0, 0.14),
    0px 1.17155px 5.46724px rgba(0, 0, 0, 0.12),
    0px 1.56207px 1.95259px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  header {
    padding: 24px 20px;
    flex-direction: column;
    row-gap: 20px;
  }
}
